{% extends 'app/base.html' %}

{% block content %}
    <h1>Welcome to ReplaceMyFood</h1>
    <p>
        What is ReplaceMyFood? Imported food produces an estimated 4 times greater environmental impact than
        domestically produced food (Source: <a href="http://www.ceeonline.org/">Center For Environmental Education</a>).
        Local food also taste better as it is able to naturally ripen and supports your local economy. ReplaceMyFood
        gives you the place to advertise your locally sourced products as well as search for ways to replace your
        imported food.
    </p>
    <p>
        Looking to replace your food? Go here: <a href="{% url 'buyer' %}">Buyer Home</a>
    </p>
    <p>
        Looking to list your product, market, or local business? Go here: <a href="{% url 'vendor' %}">Vendor Home</a>
    </p>
    <p>
        Looking to get into micro-farming? Contact us to find out what types of products people are looking for in
        your area! (We collect data about all of the queries people are making around you so that we can help local
        farmers to tailor their produce)
    </p>
{% endblock %}